{% extends 'main/layout/layout.html' %}

{% block title%}Events{% endblock %}

{% block content%}
<section class="hero_events">
  <div class="hero-text">
    CALENDAR
  </div>
</section>
{% if events %}
<div class="container py-4">
  <div class="accordion" id="faqAccordion">
    {% for event in events %}
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
          <button class="accordion-button collapsed gradient text-white" 
                  type="button" data-bs-toggle="collapse" 
                  data-bs-target="#collapse{{ forloop.counter }}" 
                  aria-expanded="false" 
                  aria-controls="collapse{{ forloop.counter }}">
            {{ event.title }}
          </button>
        </h2>
        <div id="collapse{{ forloop.counter }}" class="gradient accordion-collapse collapse" 
             aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            <div class="row">
              {% for round in event.rounds.all %}
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="{{ round.image.url }}" class="card-img-top" alt="{{ round.title }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ round.title }}</h5>
                      <p class="card-text">{{ round.description }}</p>
                      <a href="{{ round.link }}" class="btn btn-warning rounded-0" target="_blank">Details</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container py-4">
  <div class="alert text-white gradient text-center m-0">
    No events in the calendar for now. Come back later!
  </div>
</div>
{% endif %}
{% endblock %}