{% extends 'main/layout/layout.html' %}

{% block title%}Events{% endblock %}

{% block content%}
    

<div class="container py-4">
    <h2 class="mb-3">Calendar</h2>
  
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingDriftMasters">
          <button class="accordion-button collapsed gradient text-white" type="button" data-bs-toggle="collapse" data-bs-target="#driftMastersCollapse" aria-expanded="false" aria-controls="driftMastersCollapse">
            Drift Masters 2025 Rounds
          </button>
        </h2>
        <div id="driftMastersCollapse" class="gradient accordion-collapse collapse" aria-labelledby="headingDriftMasters" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/t56nwAN.png" class="card-img-top" alt="Round 1">
                    <div class="card-body">
                      <h5 class="card-title">Round 1</h5>
                      <p class="card-text">25 Apr 2025 - 26 Apr 2025. Vallelunga Circuit, Rome, Italy</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-1/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
               
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/nwxmACT.png" class="card-img-top" alt="Round 2">
                    <div class="card-body">
                      <h5 class="card-title">Round 2</h5>
                      <p class="card-text">17 May 2025 - 18 May 2025. Circuito de Madrid Jarama - RACE, Madrid, Spain</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-2/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/Ks1gZSD.jpeg" class="card-img-top" alt="Round 3">
                    <div class="card-body">
                      <h5 class="card-title">Round 3</h5>
                      <p class="card-text">6 Jun 2025 - 7 Jun 2025. Power Park Huvivaltio, Finland</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-3/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/jO58GSF.jpeg" class="card-img-top" alt="Round 4">
                    <div class="card-body">
                      <h5 class="card-title">Round 4</h5>
                      <p class="card-text">28 Jun 2025 - 29 Jun 2025. Mondello Park, Kildare, Ireland</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-4/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/xijzwkz.jpeg" class="card-img-top" alt="Round 5">
                    <div class="card-body">
                      <h5 class="card-title">Round 5</h5>
                      <p class="card-text">25 Jul 2025 - 26 Jul 2025. Bikernieku Trase, Riga, Latvia</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-5/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/j6eKpCM.jpeg" class="card-img-top" alt="Round 6">
                    <div class="card-body">
                      <h5 class="card-title">Round 6</h5>
                      <p class="card-text">14 Aug 2025 - 16 Aug 2025. Ferropolis, Dessau, Germany</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-6/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-md-4 mb-4">
                  <div class="card h-100">
                    <img src="https://i.imgur.com/1zM2UqV.jpeg" class="card-img-top" alt="Round 7">
                    <div class="card-body">
                      <h5 class="card-title">Round 7</h5>
                      <p class="card-text">12 Sept 2025 - 13 Sept 2025. PGE Narodowy, Warsaw, Poland</p>
                      <a href="https://dm.gp/seasons/drift-masters-2025/rounds/round-7/" class="btn btn-warning rounded-0">Details</a>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
            
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}