{% extends 'main/layout/layout.html' %}

{% block title%}Homepage{% endblock %}

{% block content%}
<section style="background-image: url('/static/main/img/20706862853_d9367e8332_k.jpg'); background-size: cover; background-position: center; height: 100vh; position: relative; display: flex; justify-content: center; align-items: center;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
    <div class="container text-center content" style="position: relative; z-index: 2;">
      <h1 class="display-3 text-white fw-bold">Welcome to abcdegfdhdfhf</h1>
      <p class="lead text-white mb-4">Latest news and builds</p>
      <a href="forum/frequent_questions" class="btn text-white gradient border-0 btn-lg">FAQ</a>
    </div>
  </section>
  {% if recent_articles %}
  <h1 class="text-center p-2 text-white gradient shadow">Recent Articles</h1>
  <div class="container">
      <div class="row">
          {% for article in recent_articles %}
              <div class="col-md-4 my-3">
                  <div class="card h-100 rounded-3 shadow">
                      {% if article.thumbnail %}
                          <img src="{{ article.thumbnail.url }}" class="card-img-top rounded-3 shadow" alt="Thumbnail">
                      {% endif %}
                      <div class="card-body d-flex flex-column justify-content-center text-center">
                          <h5 class="card-title">
                              <a href="/news/{{ article.id }}" class="text-decoration-none text-dark">{{ article.title }}</a>
                          </h5>
                          <p class="card-text text-muted">{{ article.excerpt|truncatewords:20 }}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
{% endif %}
{% endblock %}