{% extends 'main/layout/layout.html' %}

{% block title%} {{ article.title }}{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
      <h1 class="h3 mb-0 text-dark">{{ article.title }}</h1>
      {% if request.user.id == article.author.id %}
      <div class="btn-group">
        <a href="/news/{{ article.id }}/update" class="btn btn-outline-info">Update</a>
        <a href="/news/{{ article.id }}/delete" class="btn btn-outline-danger">Delete</a>
      </div>
      {% endif %}
    </div>
  
    <div class="mb-3 text-muted">
      {% if article.author.avatar.avatar %}
        <img src="{{ article.author.avatar.avatar.url }}" alt="Author Avatar" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;">
        {% else %}
        <img src="/media/images/avatars/default.png" alt="Default Avatar" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px;">
      {% endif %}
      <small>{{ article.author }}</small><br>
      <small>{{ article.published_at }}</small>
    </div>
  
    <div class="mb-3 d-flex justify-content-center">
      <div class="text-center" style="max-width: 800px;">
        <p class="lead fs-4">{{ article.body|linebreaksbr }}</p>
      </div>
    </div>
  
    {% if article.images.all %}
    <div class="d-flex flex-column gap-3">
      {% for img in article.images.all %}
      <div class="w-100">
        <img src="{{ img.image.url }}" alt="Post image" class="img-fluid w-100 rounded shadow">
        <p class="mt-2 text-center text-muted fs-5">{{ img.description|linebreaksbr }}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  
  
  
{% endblock %}