{% extends 'main/layout/layout.html' %}

{% block title%}Post #{{ posts.id }} deletion{% endblock %}

{% block content%}

    <div class="m-5">    
        <h1 class="text-center">Post #{{ posts.id }} deletion</h1>
        <form method="post" class="form d-flex flex-column gap-2">
{#            CSRF to Cross-site request forgery - rodzaj ataku na strony internetowe #}
{#            Token wymagany jest aby potwierdzić, że formularz na pewno został wypełniony na żądanie użytkownika #}
{#            Szczegóły: https://pl.wikipedia.org/wiki/Cross-site_request_forgery #}
            {% csrf_token %}
            <div class="alert alert-danger text-center">
                This action is destructive. Are you sure you want to delete post #{{ posts.id }}?
            </div>

            <div class="d-flex gap-2 justify-content-center">
                <a href="/forum/{{ posts.id }}" class="btn btn-info">No, go back</a>
                <button class="btn btn-danger" type="submit">Yes, delete!</button>
            </div>
        </form>
    </div>  
{% endblock %}