{% extends 'main/layout/layout.html' %}

{% block title%}Webpage posts{% endblock %}

{% block content%}
<section class="hero_post">
  <div class="hero-text">
    POSTS
  </div>
</section>

<div class="container py-4">
  <div class="d-flex flex-column gap-4">
    {% if posts %}
      {% for post in posts %}
        <div class="card shadow-sm gradient">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="card-title mb-0">
                    <a href="/forum/{{ post.id }}" class="text-decoration-none text-white">
                      {{ post.title }}
                    </a>
                  </h4>
                  <small class="text-white-50">{{ post.published_at }}</small>
                </div>
                <p class="card-text text-white-50 mt-2">{{ post.excerpt }}</p>
              </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-info text-center">
        No posts for now. Come back later!
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}